@import url("./xy-theme.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ... */

html,
body {
  margin: 0;
  font-family: pretendard;
  box-sizing: border-box;
}

#app {
  width: 100vw;
  height: 100vh;
}

@layer base {
  :root {
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* .flow {
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  height: 100%;
} */

/* .flow aside {
  border-right: 1px solid #eeeeee;
  padding: 15px 10px;
  font-size: 12px;
  background: #fcfcfc;
} */

/* .flow aside .description {
  margin-bottom: 10px;
} */

.flow .node {
  height: 20px;
  padding: 4px;
  border: 1px solid #1a192b;
  border-radius: 2px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
}

/* .flow .reactflow-wrapper {
  flex-grow: 1;
  height: 100%;
} */

.flow .selectall {
  margin-top: 10px;
}

/* @media screen and (min-width: 768px) {
  .flow {
    flex-direction: row;
  }

  .flow aside {
    width: 20%;
    max-width: 250px;
  }
} */

/* spinner 제거 */
@layer components {
  .no-spinner {
    -moz-appearance: textfield;
  }

  .no-spinner::-webkit-outer-spin-button,
  .no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
